* {
    box-sizing: border-box;
}

main {
    max-width: 500px;
    width: 100%;
}

section {
    border: 1px solid violet;
    height: 175px;
}

a {
    cursor: pointer;
}

@media screen and (min-width: 501px) {
    main {
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    main {
        margin: 0;
    }
}

