* {
    box-sizing: border-box;
    font-family: "Noto Serif KR", "Jua", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f8f9fa;
}

main {
    max-width: 500px;
    width: 100%;
}

main > div {
    margin-top: 150px;
}

section {
    border: 1px solid violet;
    height: 175px;
}

a {
    cursor: pointer;
}

@media screen and (min-width: 501px) {
    main {
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    main {
        margin: 0;
    }
}


.main-container {
    background-color: lightblue;
}

.search-count-academy {
    font-weight: bolder;
}

.main-contents {
    margin-top: 1px;
}

.main-card {
    background-color: white;
    border-bottom: 1px solid #b4b2b2;
}

.academy-item-name {
    font-weight: bold;
    padding: 10px;
}

.main-ul {
    list-style-type: none;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

.academy-item-content {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1px;
}

.academy-item-address {
    font-size: 14px;
}

.academy-item-ldate {
    font-size: 14px;
    flex-direction: row;
}

.academy-item-limit {
    font-size: 14px;
    flex-direction: row;
}

.academy-item-menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;

}
.academy-rate{
    width: 50%;
}

.academy-rate-img {
    height: 20px;
    width: 20px;
}
.academy-review{
    width: 50%;

}

.academy-count-img {
    height: 20px;
    width: 20px;
}

footer {
    padding: 2rem 2rem 0 !important;
}