main {
    max-width: 500px;
    width: 100%;
    border: 1px solid violet;
    height: 175px;
}

section {
    border: 1px solid goldenrod;
}

@media screen and (min-width: 501px) {
    main {
        background-color: darkcyan;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    main {
        background-color: rebeccapurple;
        margin: 0;
    }
}


/*유리*/
.academy-container {
	padding: 20px;
}

.academy-item {
	padding: 15px;
}

.content {
	display: flex;
}

.content-info > p {
	font-size: 13px;
	color: gray;
}

.academy-score {
	display: flex;
	flex-flow: row wrap;
}

.review {
	display: block;
}

.menu {
	align-items: center;
	width: 115px;
}

.button {
	color: red;
	border: 1px;
	border-radius: 7px;
	height: 40px;
	width: 450px; /*(수정) 전체 크기의 상대값*/
}

.info-container {
	padding: 10px;
	margin-top: 30px;
}

.info-item {
	display: flex;
	font-size: 13px;
	justify-content: space-between;
}

.info-item > div:first-child{
	display: flex;
}

/*수완*/
img {
    height: 24px;
}

ul {
    list-style: none;
    padding: 10px 16px;
}

li {
    border: 1px dashed hotpink;
}

#allReviewBtn {
    margin-top: 1rem;
    width: 100%;
    height: 30%;
    border-radius: 15px;
}

.review-wrapper > div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}

.review-card--header {
    display: flex;
    justify-content: space-between;
    border: 1px dot-dash bisque;
}

.review-card--content {
    margin-top: 16px;
    overflow: hidden;
}

.review-card--content > span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-card--info {
    display: flex;
}

.book-wrapper {
    display: flex;
    justify-content: center;
}

.book-container {
    position: fixed;
    bottom: 70px;
}

#bookBtn {
    border-radius: 30px;
    display: block;
    width: 10rem;
    height: 3rem;
}